body{
    background-color: white;
}


h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 68px;
    font-weight: bold;
    color: rgb(22,55,103);
    margin-top: 80px;
    margin-bottom: 10px;
}

h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: rgb(30,60,110);
    margin-top: 80px;
    margin-bottom: 40px;
}

h3 {
    color: rgb(30,60,110);
    margin-bottom: 10px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

h4{
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: rgb(78, 80, 82);
}

p{
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    color: rgb(78, 80, 82);
}

a {
    text-align: left;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    color: rgb(78, 80, 82);
    font-weight: bold;
    text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li{
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    color: rgb(78, 80, 82);
}

/* ---------------------------- PAGE FORMATIONS ---------------------- */

#img_formations {
    display: block;
    margin: 0 auto;
}

#graphe_repartition, #logo_entreprise {
    display: block;
    margin: 0 auto;
}

.licence_logo{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.bach_tabs_container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.bach_intro {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.bach_intro_left img {
    width: 650px;
    height: 250px;
    object-fit: cover; 
    display: block;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem rgb(30, 60, 110, 0.15));
}

.bach_intro_right {
    flex: 1;
    margin-right: 20px;
}

.bach_tab {
    background: none;
    border: none;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    color: rgb(78, 80, 82);
    font-weight: 600;
    padding: 10px 5px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.bach_tab:hover {
    color: rgb(30,60,110);
}

.bach_tab.actif {
    color: rgb(30,60,110);
}

.bach_tab.actif::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 3px;
    background: rgb(30,60,110);
    border-radius: 2px;
}

.bach_contenu {
    display: none;
    margin-top: 20px;
}

.bach_contenu.actif {
    display: block;
}

.bach_grille {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}



.bach_bloc {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    text-align: center;
}

.bach_bloc p {
    line-height: 30px;
}

.container_projets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
}

.etiquette_projet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    position: relative;
    width: 250px;
    height: 310px;
}

.card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(242, 167, 216);
    border-radius: 20px;
    z-index: 1;
    transition: transform 0.4s ease;
}

.img_projet {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    transition: transform 0.4s ease;
}

.card:hover .img_projet {
    transform: translate(-10px, -10px) rotate(-3deg);
}

.card:hover::before {
    transform: translate(10px, 10px) rotate(3deg);
}

.etiquette_stage {
    display: grid;
    grid-template-columns: 500px 1fr; 
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
}

.img_stage {
    width: 450px;
    height: 200px;
    object-fit: cover;
    border-radius: 40px;
}

.img_stage:hover {
    width: 490px;
    height: 220px;
    object-fit: cover;
    border-radius: 40px;
    transition-duration: 0.5s;
}

.equipe_droite {
    display: grid;
    grid-template-columns: 180px 1fr; 
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
}

.img_equipe_droite {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin-left : 40px;
}

.texte_equipe_droite p{
    text-align: left;
}

.texte_equipe_droite h4{
    text-align: left;
}

.equipe_gauche {
    display: grid;
    grid-template-columns: 1fr 180px; 
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
}

.img_equipe_gauche {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin-right : 40px;
}

.texte_equipe_gauche p{
    text-align: right;
}

.texte_equipe_gauche h4{
    text-align: right;
}



.logo-carousel {
    overflow: hidden;
    width: 100%;
    height: 100px;
    background: white;
    padding: 20px 0;
    position: relative;
}

.logo-track {
    display: flex;
    align-items: center; 
    width: max-content;
    animation: scroll 15s linear infinite;
}

.logo-track img {
    height: 80px;      
    width: auto;         
    margin: 0 25px;
    object-fit: contain;
    display: block;
    filter: grayscale(100%);
    opacity: 0.8;
    transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

.logo-track img:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.1);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

p.entreprise_des{
    text-align: center;
}



/* ---------------------------- PAGE A PROPOS ---------------------- */



.equipe_pres_equipe {
    display: grid;
    grid-template-columns: 80px 1fr; 
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
}

.img_pres_equipe {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.texte_pres_equipe p{
    text-align: left;
}

.texte_pres_equipe h4{
    text-align: left;
}


/* ---------------------------- PAGE ADMISSION ---------------------- */

.parcoursup div p,ol li{
    text-align: left;
}

.ctn {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: start;
    padding-right: 20px;
}

.txt_left {
    grid-column: 1;
}

#cal_parcoursup {
    grid-column: 2;
    width: 240px;  
    height: auto;
    max-width: 100%;
}

ol>li {
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    color:rgb(40, 0, 201);
}

ol ul {
    list-style-type: disc;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#etapes-p {
    margin-top: 50px;
}

#etapes-p h4 {
    text-decoration: underline;
}

#etapes-p img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

#end-p {
    font-size: 25px;
}

#lien-p:hover {
    text-decoration: underline;
    color: blueviolet;
}

/* ---------------------------- PAGE CAMPUS ---------------------- */

h2 {
    color: rgb(242, 167, 216);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#flex {
    display: flex;
    justify-content: space-evenly;
}

#flex p {
    padding: 10px;
    border: 2px solid rgb(22, 55, 103);
    font-size: 25px;
    font-weight: normal;
}

#flex p:hover {
    background-color: rgb(242, 167, 216);
}

.precision {
    text-align: left;
}

#list-disc, #list-disc2 {
    list-style-type: disc;
    padding-left: 10px;
    margin: 50px;
}



.l-d2 {
    text-align: left;
    font-size: 22px;
}

.bdx-droite {
    text-align: right;
}

#list-disc3 {
    list-style-type: disc;
    padding-right: 10px;
    margin: 50px;
    padding-left: 900px;
}

.l-d3 {
    text-align: left;
    font-size: 22px;
}


iframe {
    display: block;
    margin: 50px auto;
}

#lien-jpo:hover {
    text-decoration: underline;
    color:blueviolet;
}
/* ---------------------------- HEADER ---------------------- */

header {
    background-color: rgb(22,55,103);
    text-align: center;
    padding: 15px;
    display: block;   /*pour l'affichage en ligne*/
    font-size: 35px;
    position: fixed;    /*Pour fixer l'élément même au scroll*/
    z-index: 444;    /*premier plan*/
    width: 100%;
    top: 0;
    left: 0;
}

header a:hover {
    color: rgb(255, 198, 234);
    background-color: rgb(255, 255, 255);
}



header a {
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: 'Arial Narrow Bold', sans-serif;

}

.imgheader {
    width: 130px;
    height: 50px;
}

#tab td {
    border: 1px solid rgb(0, 0, 0);
    padding: 0;
}

#tab td a {
    display: block; 
    padding: 15px 20px;  
}

nav {
    display: grid;
    padding: 1px;
    text-align: center;
}

.header1 {
    display: grid;
    grid-template-columns: 130px 1fr;
    gap: 20px;
    align-items: center;
}

/* ---------------------------- ACCUEIL ---------------------- */


.highlight {
  font-size: 2em;  
  font-weight: bold; 
  color: rgb(255, 198, 234);  
}

.partenaire {
  width: 120px;
  height: 80px;
  object-fit: contain; 
}

/* ---------------------------- FOOTER ---------------------- */

footer {
    text-align: center;
    background-position: center;
    background-color: rgb(22,55,103);
    padding: 10px;
    box-sizing: border-box;
}

#lienfooter:hover {
    text-decoration: underline;
}

footer p, #lienfooter {
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
}

#lienfooter {
    font-size: 20px;
}
footer div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#divfooter1 {
    text-align: center;
}

#coordonnees {
    text-decoration: underline;
}